body{
  margin:0%;
}
.row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
.row .right{
  background: url(/assets/images/principal.jpg);
  background-size: cover;
  background-position-x: center;
}
.container{
  margin-left: 2rem;
}
.container h1{

  color: var(--principal);
  font-size: 20px;
  margin-left: 2rem;
  margin-top: 0.5rem;
  font-family: var(--poppinsfont);

}
.container form{
  margin-left: 3rem;
}
form mat-form-field{
  margin-top: 1px;
  width: 28rem;
  font-size: medium;
}

button{
  margin-left: 3rem;
  margin-top: 2rem;
  padding-right: 11.5rem;
  padding-left: 11.5rem;
}


::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: var(--principallight) !important;
}
::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: var(--principallight) !important;
}
::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: var(--principallight) !important;
}
::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: var(--principallight) !important;
}
::ng-deep .mat-input-element::placeholder{
  color: var(--principallight) !important;
}
