<body>
  <div class="row">
      <div class="left">
          <app-navbar-logsign></app-navbar-logsign>
          <div class="container">
              <h1>Registrarse</h1>

              <form [formGroup]="myForm" autocomplete="off">
                  <mat-form-field appearance="fill">
                      <mat-label>Nombre</mat-label>
                      <input matInput formControlName="name" placeholder="Nombre">
                  </mat-form-field>
                  <br>
                  <div *ngIf="myForm.get('name')?.hasError('required')&& myForm.get('name')?.touched">
                      <span style="color: red">Este campo es obligatorio</span>
                      </div>
                      <div *ngIf="myForm.get('name')?.hasError('maxlength')">
                      <span style="color: red">Máximo 40 caracteres</span>
                      </div>
                  <br>

                  <mat-form-field appearance="fill">
                      <mat-label>Apellido</mat-label>
                      <input matInput formControlName="lastname" placeholder="Apellido">
                  </mat-form-field>
                  <br>
                  <div *ngIf="myForm.get('lastname')?.hasError('required')&& myForm.get('lastname')?.touched">
                      <span style="color: red">Este campo es obligatorio</span>
                      </div>
                      <div *ngIf="myForm.get('lastname')?.hasError('maxlength')">
                      <span style="color: red">Máximo 40 caracteres</span>
                      </div>
                  <br>

                  <mat-form-field appearance="fill">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="email" placeholder="Email">
                  </mat-form-field>
                  <br>
                   <div *ngIf="myForm.get('email')?.hasError('required')&& myForm.get('email')?.touched">
                      <span style="color: red">Este campo es obligatorio</span>
                  </div>
                  <div *ngIf="myForm.get('email')?.hasError('email')">
                      <span style="color: red">Formato de Email incorrecto</span>
                  </div>
                  <br>


                  <mat-form-field appearance="fill">
                      <mat-label>Contraseña</mat-label>
                      <input matInput type="password" formControlName="password" placeholder="Contraseña">
                  </mat-form-field>
                   <br>
                   <div *ngIf="myForm.get('password')?.hasError('required')&& myForm.get('password')?.touched">
                      <span style="color: red">Este campo es obligatorio</span>
                      </div>
                      <div *ngIf="myForm.get('password')?.hasError('maxlength')">
                      <span style="color: red">Máximo 7 caracteres</span>
                      </div>
                   <br>


                  <mat-form-field appearance="fill">
                      <mat-label>Confimar contraseña</mat-label>
                      <input matInput type="password" formControlName="confirmpassword" placeholder="Confirmar contraseña">
                  </mat-form-field>
                  <br>
                  <div *ngIf="myForm.get('confirmpassword')?.hasError('required')&& myForm.get('confirmpassword')?.touched">
                      <span style="color: red">Este campo es obligatorio</span>
                      </div>
                      <div *ngIf="myForm.get('confirmpassword')?.hasError('maxlength')">
                      <span style="color: red">Máximo 7 caracteres</span>
                      </div>
                  <br>

              </form>

              <button mat-raised-button style="background-color: var(--principal); color: var(--wall);" [disabled]= "myForm.invalid" (click)="saveUser()">Crear cuenta</button>
          </div>
      </div>
      <div class="right"></div>
  </div>
</body>
